<!DOCTYPE html>
<html>

<head>
    <title>{{ profile.output.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        @media screen {
            .container {
                margin-left: auto;
                margin-right: auto;
                background-color: #ffffff;
                max-width: 600pt;
                padding: 0;
            }
        }
        
        @media print {
            .container {
                background-color: #ffffff;
                max-width: 8.5in;
                padding: 0.8in;
            }
        }
        
        body {
            display: block;
            margin: 8px;
        }
        
        p {
            margin: 0;
            font-size: 14.5pt;
            font-family: "Times New Roman";
            color: #000000;
            display: block;
        }

        ul {
            margin-top: 5pt;
            margin-bottom: 5pt;
            padding-left: 30pt;
        }
        
        td {
            padding: 5pt;
            border-color: #ffffff;
            border-width: 1pt;
            border-style: solid;
        }
        
        h2 {
            font-family: "Times New Roman";
            color: #000000;
            font-weight: 400;
            font-size: 20pt;
            padding-top: 18pt;
            padding-bottom: 6pt;
            margin-top: 6pt;
            margin-bottom: 6pt;
            line-height: 1.0;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left;
            text-transform: uppercase
        }
    </style>
</head>

<body>
    <div class="container">

        <br>

        <img src="data:image/png;base64,{{ img_string }}" alt="icon"
            width="80px" height="auto" style="float: left; margin: 2px; margin-right: 20px; margin-left: 0;">

        <p style="padding-left: 80px;">
            <span style="text-transform: uppercase">
            <span style="font-size:48px;">{{person.name.first}} </span>
            <span style="font-size:48px;">{{person.name.last}}</span>
            </span>
            <br>
            <span>{{person.name.handle}} / </span>
            <span>{{person.name.call}} / </span>
            <span>
                {% if profile.email %}
                    {{profile.email}}
                {% else %}
                    {{person.email.work}}
                {% endif %}
            </span>
        </p>


        {% block body %}

        {% for sec in profile.section %}
        {% if sec == 'education' %}
        <h2>Education</h2>

        <table>
            <tbody>
                {% for edu in exp.education %}
                <tr>                            
                    <td valign="top" width="50px">
                        <p><b>{{edu.type}}</b></p>
                    </td>
                    <td valign="top">
                        <p>{{edu.concentration}}, {{edu.organization}}, {{edu.location}}</p>

                        {% if utcnow.date() < edu.date %}
                        <p>Expected {{edu.date.strftime("%b %Y")}}</p>
                        {% else %}
                        <p> {{edu.date.strftime("%b %Y")}}</p>
                        {% endif %}

                        {% for h in edu.honors %}
                        <p>{{h}}</p>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if sec == 'publication' %}
        <h2>Publications</h2>

        <table>
            <tbody>
                {% for pub in exp.publication %}
                {% if (not profile.tags or intersect(pub.tags,profile.tags)) %}
                <tr>
                    <td valign="top" width="75px">
                        <p>{{loop.revindex}}.</p>
                    </td>
                    <td valign="top">
                        <p style="text-indent:-1.5em">
                            <span>
                                {% for author in pub.authors %}
                                    {% if person.name.last in author and person.name.first in author %}
                                        <b>{{author}}, </b>
                                    {% else %}
                                        {{author}}, 
                                    {% endif %}
                                {% endfor %} 
                            </span>
                            <span><i>"{{pub.title}}."</i> {{pub.publisher}}, </span>
                            <span>
                                {% if utcnow.date() < pub.date %}
                                forthcoming
                                {% endif %}                                
                                {{pub.date.strftime("%b %d, %Y")}}.
                            </span>
                        </p>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if sec == 'funding' %}
        <h2>Grants and Awards</h2>    

        <table>
            <tbody>
                {% for funding in exp.funding %}
                <tr>
                    <td valign="top" width="50px">
                        <p><b>{{funding.date.strftime("%Y")}}</b></p>
                    </td>
                    <td valign="top">
                        <p style="text-indent:-1.5em">
                        <p>{{funding.issuer}}</p>
                        <p><i>{{funding.project}}</i></p>
                        {% for r in funding.role %}
                            <p>{{r}}</p>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if sec == 'research' %}
        <h2>Research Experience</h2>

        <table>
            <tbody>
                {% for research in exp.research %}
                {% if (not profile.tags or intersect(research.tags,profile.tags)) %}
                <tr>
                    <td valign="top" width="120px">
                        <p>
                            <b>
                                {% if research.date.start and research.date.end %}
                                    {{research.date.start.strftime("%Y")}}-{{research.date.end.strftime("%Y")}}
                                {% elif research.date.start and not research.date.end %}
                                    {{research.date.start.strftime("%Y")}}-present                               
                                {% endif %}
                            </b>
                        </p>
                    </td>
                    <td valign="top">
                        <p>{{research.role}}, {{research.lab}}</p>
                        <p>{{research.institute}}</p>
                        <p>Supervised by {{research.supervisor}}</p>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        
        {% if sec == 'work' %}
        <h2>Work Experience</h2>

        <table>
            <tbody>
                {% for work in exp.work %}
                {% if (not profile.tags or intersect(work.tags,profile.tags)) %}
                <tr>
                    <td valign="top" width="120px">
                        <p>
                            <b>
                                {% if work.date.start and work.date.end %}
                                    {{work.date.start.strftime("%Y")}}-{{work.date.end.strftime("%Y")}}
                                {% elif work.date.start and not work.date.end %}
                                    {{work.date.start.strftime("%Y")}}-present                               
                                {% endif %}
                            </b>
                        </p>
                    </td>
                    <td valign="top">
                        <p>{{work.role}}, {{work.organization}}</p>
                        {% if work.description %}
                            <p><i>{{work.description}}</i></p>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        
        {% if sec == 'teaching' %}
        <h2>Teaching Experience</h2>    

        <table>
            <tbody>
                {% for teaching in exp.teaching %}
                <tr>
                    <td valign="top" width="120px">
                        <p><b>{{teaching.timeframe}}</b></p>
                    </td>
                    <td valign="top">
                        <p><i>{{teaching.course}}</i></p>
                        <p>{{teaching.role}}, {{teaching.organization}}, {{teaching.location}}</p>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if sec == 'service' %}
        <h2>University Service</h2>

        <table>
            <tbody>
                {% for service in exp.service %}
                {% if (not profile.tags or intersect(service.tags,profile.tags)) %}
                <tr>
                    <td valign="top" width="120px">
                        <p>
                            <b>
                                {% if service.date.start and service.date.end %}
                                    {{service.date.start.strftime("%Y")}}-{{service.date.end.strftime("%Y")}}
                                {% elif service.date.start and not service.date.end %}
                                    {{service.date.start.strftime("%Y")}}-present                               
                                {% endif %}
                            </b>
                        </p>
                    </td>
                    <td valign="top">
                        <p>{{service.role}}, {{service.organization}}</p>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if sec == 'presentation' %}
        <h2>Invited Talks</h2>        

        <table>
            <tbody>
                {% for pre in exp.presentation %}
                {% if (not profile.tags or intersect(pre.tags,profile.tags)) %}
                <tr>
                    <td valign="top" width="80px">
                        <p><b>{{pre.occasion[0].date.strftime("%Y")}}</b></p>
                    </td>
                    <td valign="top">

                        {% if pre.occasion|length > 1 %}

                        <p style="text-indent:-1.5em"><i>"{{pre.title}}."</i>
                            <ul>{% for case in pre.occasion %}
                                <li>
                                    <p>
                                        <span>{{case.location}}. </span>
                                        <span>
                                            {% if utcnow.date() < case.date %}
                                                Forthcoming
                                            {% endif %}                                
                                            {{case.date.strftime("%b %d, %Y")}}.
                                        </span>
                                    </p>
                                </li>
                                {% endfor %}
                            </ul>
                        </p>

                        {% elif pre.occasion|length == 1 %}

                        <p style="text-indent:-1.5em">
                            <span><i>"{{pre.title}}."</i> </span>
                            <span>{{pre.occasion[0].location}}. </span>
                            <span>
                                {% if utcnow.date() < pre.occasion[0].date %}
                                    Forthcoming 
                                {% endif %}
                                {{pre.occasion[0].date.strftime("%b %d, %Y")}}.
                            </span>
                        </p>

                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if sec == 'societies' %}
        <h2>Honor Societies</h2>        

        <table>
            <tbody>
                {% for society in exp.societies %}
                {% if (not profile.tags or intersect(society.tags,profile.tags)) %}
                <tr>
                    <td valign="top" width="50px">                         
                        <p>
                            <b>
                                {% if utcnow.date() < society.date %}
                                    Pending
                                {% else %}
                                    {{society.date.strftime("%Y")}}
                                {% endif %}
                            </b>
                        </p>
                    </td>
                    <td valign="top">
                        <p>{{society.organization}}</p>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

        {% if sec == 'project' %}
        <h2>Projects</h2>

        <p style="text-align: center;"><i>- Details and documentation: <a href="{{exp.project.url}}">{{exp.project.url}}</a> -</i></p>
        <br>
            
        <table>
            <tbody>
                {% for proj in exp.project.entries %}
                    {% if proj.priority <= profile.verbosity and (not profile.tags or intersect(proj.tags,profile.tags)) %}
                    <tr>
                        <td valign="top" width="50px">
                            <p>
                                <b>
                                    {% if proj.date.start %}
                                        {{proj.date.start.strftime("%Y")}}
                                    {% else %}
                                        {{proj.date.end.strftime("%Y")}}
                                    {% endif %}
                                </b>
                            </p>
                        </td>
                        <td valign="top">
                            <p>
                                <span><i>"{{proj.title}}."</i> </span>
                                <span>
                                    {% if proj.date.start and proj.date.end %}
                                        {{proj.date.start.strftime("%b %Y")}} - {{proj.date.end.strftime("%b %Y")}}.
                                    {% elif proj.date.start and not proj.date.end %}
                                        {{proj.date.start.strftime("%b %Y")}} - present.
                                    {% elif not proj.date.start and proj.date.end %}
                                        {{proj.date.end.strftime("%b %Y")}}.  
                                    {% endif %}                                  
                                </span>
                                <ul>{% for digest in proj.digest %}
                                    <li>
                                        <p>{{digest}}</p>
                                    </li>
                                    {% endfor %} 
                                    {% if proj.url %}
                                    <li>
                                        <p><a href="{{proj.url}}">{{proj.url}}</a></p>
                                    </li>
                                    {% endif %}
                                </ul>
                            </p>

                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}        
            </tbody>
        </table>
        {% endif %}

        {% if sec == 'affiliation' %}
        <h2>Professional Affiliations</h2>        

        <table>
            <tbody>
                {% for aff in exp.affiliation %}
                {% if (not profile.tags or intersect(aff.tags,profile.tags)) %}
                <tr>
                    <td valign="top" width="50px">
                        <p><b>{{aff.date.strftime("%Y")}}</b></p>
                    </td>
                    <td valign="top">
                        <p>{{aff.organization}}</p>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}  
            </tbody>
        </table>
        {% endif %}

        {% if sec == 'certificate' %}
        <h2>Licenses and Certificates</h2>        

        <table>
            <tbody>
                {% for cert in exp.certificate %}
                {% if (not profile.tags or intersect(cert.tags,profile.tags)) %}
                <tr>
                    <td valign="top" width="80px">
                        <p>{{ loop.revindex }}.</p>
                    </td>
                    <td valign="top">
                        <p style="text-indent:-1.5em">
                            {% if cert.title %}
                                <span><i>"{{ cert.title }},"</i> {{ cert.issuer }}. </span>
                            {% else %}
                                <span>{{ cert.issuer }}. </span>
                            {% endif %}
                            <span>Effective since {{ cert.date.effective.strftime("%b %d, %Y") }}. </span>
                            {% if cert.date.expire %}
                            <span>
                                Expiration date {{ cert.date.expire.strftime("%b %d, %Y") }}.
                            </span>
                            {% endif %}
                        </p>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}  
            </tbody>
        </table>
        {% endif %}
        {% endfor %}
                       
        {% endblock %}
    </div>
</body>
<footer>
    <br>
    <p style="text-align: center; font-size: 14px;"><i>- Last generated {{ utcnow.isoformat() }} -</i></p>
    <br>
</footer>

</html>